body {
  font-family: sans-serif;
}
/* a {
  text-decoration: none;
} */

html {
  scroll-behavior: smooth;
}
img,
video {
  max-width: 100%;
  height: auto;
}
/* ul {
  list-style: none;
} */

.bloque {
  display: block;
}

.eliminar {
  list-style: none;
}
